<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Cadastro de Clientes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body ng-app="HelpApp">
        <div ng-controller="ClienteController as controller">
            <h1>Cadastro de Clientes</h1>

            <!-- Se não houver cliente cadastrados no BD, esta div será exibida para criar um novo cliente. -->
            <div style="border: 1px solid black;"
                 ng-show="controller.cliente">
                
                <label for="ClienteId">ID: </label>
                <input type="number" id="clienteId" ng-model="controller.cliente.id" disabled><br>

                <label for="nome">Nome: </label>
                <input type="text" id="nome" ng-model="controller.cliente.nome"><br>

                <label for="cpf">CPF: </label>
                <input type="text" id="cpf" ng-model="controller.cliente.cpf"><br>
                
                <label for="email">email: </label>
                <input type="text" id="email" ng-model="controller.cliente.email"><br>
                
                <label for="telefone">telefone: </label>
                <input type="text" id="telefone" ng-model="controller.cliente.telefone"><br>

                <button type="button" data-ng-click="controller.salvar()">Salvar</button>
                <button type="button" data-ng-click="controller.cliente = undefined">Cancelar</button>
            </div>

            <!-- Se houver cliente cadastrado no BD, esta div será exibida com os cliente cadastrados. -->
            <div style="border: 1px solid black;"
                 ng-show="!controller.cliente">
                <button type="button" data-ng-click="controller.novo()">Novo Cliente</button><br>
                <form class="form-inline">
                    <div class="form-group">
                        <label>Procurar</label>
                        <input type="text" ng-model="procurar" class="form-control" placeholder="Procurar...">
                    </div>
                </form>
                <br>
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>e-mail</th>
                        <th>Telefone</th>
                    </tr>
                    <!--<tr dir-paginate="cliente in controller.clientes | filter:procurar | itemsPerPage:5">-->
                    <tr data-ng-repeat="cliente in controller.clientes |filter:procurar">
                        <td>{{cliente.id}}</td>
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.cpf}}</td>
                        <td>{{cliente.email}}</td>
                        <td>{{cliente.telefone}}</td>
                        <td>
                            <button type="button" data-ng-click="controller.alterar(cliente)">Alterar</button>
                        </td>
                    </tr>
                </table>
            </div>           
        </div>
    </div>
    <script src="resources/angular.js"></script>
    <script src="resources/help.js"></script>
</body>
</html>